<div class="container maindiv">
  <div class="row justify-content-center ">
    <div class="col-md-6">
      <div class="card profile-card">
        <div class="card-body">
          <div class="profile-picture-container text-center">
            <img src="assets/146035.png" alt="Profile Picture" class="profile-picture img-fluid" />
          </div>
          <div class="text-center mt-4">
            <h3 class="profile-name">{{ userData.name }}</h3>
            <p class="profile-info">Email: {{ userData.email }}</p>
            <p class="profile-info">Phone: {{ userData.phone }}</p>
            <p class="profile-info">User ID: {{ userData.userId }}</p>
            <p class="profile-info">City: {{ userData.city }}</p>
            <p class="profile-info">Country: {{ userData.country }}</p>
            <p class="profile-info">State: {{ userData.state }}</p>
            <p class="profile-info">User Type: {{ userData.userType }}</p>
            <p class="profile-info">Verified: {{ userData.verified }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
