<div>
    <div class="mt-5 jumbotron jumbotron-fluid pt-4 pb-0 mb-0">
      <div class="  ">
        <div class="overlay">
          <div class="container text-center">
            <h1 class="display-4 hero-text">
              From Donor's heart to Recipient's soul
            </h1>
            <p class="lead">
              Your blood donation can help save lives. Join us in our mission to
              make a difference.
            </p>
            <a
              (click)="onDonateNow()"
              class="btn btn-lg btn-danger btn-donate hero-btn"
              >Try Now</a
            >
          </div>
        </div>
      </div>
  
      <div class="how-to-donate text-center mt-2">
        <div class="container">
          <h2>How Your Donation Helps</h2>
          <div class="row">
            <div class="col-md-4 mb-4">
              <img src="assets/help1.png" alt="Help 1" class="img-fluid img1" />
              <p>
                Your blood donation can provide life-saving treatment to accident
                victims and support patients undergoing surgeries and medical
                treatments.
              </p>
            </div>
            <div class="col-md-4 mb-4">
              <img src="assets/help2.jpg" alt="Help 2" class="img-fluid img1" />
              <p>
                Your donation helps individuals with chronic illnesses and
                diseases, providing hope and comfort to those in need.
              </p>
            </div>
            <div class="col-md-4 mb-4">
              <img src="assets/help3.jpg" alt="Help 3" class="img-fluid img1" />
              <p>
                Join us in our mission to save lives and make a difference in the
                community. Every donation matters.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div><app-footer class="mt-0"></app-footer></div>
  </div>
  
  