<ng-container *ngIf="dashboardData.donationList.length === 0; else showtable">
  <div class="container mt-5 text-center">
    <h3 class="display-4">NO Data Found</h3>
  </div>
</ng-container>

<ng-template #showtable>
  <table
    mat-table
    [dataSource]="dashboardData.donationList"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Country</th>
      <td mat-cell *matCellDef="let donation">{{ donation.country }}</td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>City</th>
      <td mat-cell *matCellDef="let donation">{{ donation.city }}</td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef>State</th>
      <td mat-cell *matCellDef="let donation">{{ donation.state }}</td>
    </ng-container>

    <ng-container matColumnDef="bloodGroup">
      <th mat-header-cell *matHeaderCellDef>Blood Group</th>
      <td mat-cell *matCellDef="let donation">{{ donation.bloodGroup }}</td>
    </ng-container>

    <ng-container matColumnDef="healthIssue">
      <th mat-header-cell *matHeaderCellDef>Health Issue</th>
      <td mat-cell *matCellDef="let donation">{{ donation.healthIssue }}</td>
    </ng-container>

    <ng-container matColumnDef="lastDonationTime">
      <th mat-header-cell *matHeaderCellDef>Last Donation Time</th>
      <td mat-cell *matCellDef="let donation">
        {{ donation.lastDonationTime }}
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let donation">
        {{ donation.descriptionHealthCondition }}
      </td>
    </ng-container>

    <ng-container matColumnDef="medicineConsumption">
      <th mat-header-cell *matHeaderCellDef>Medicine Consumption</th>
      <td mat-cell *matCellDef="let donation">
        {{ donation.medicineConsumption }}
      </td>
    </ng-container>

    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef>Created By</th>
      <td mat-cell *matCellDef="let donation">
        {{ donation.createdBy.name }} ({{ donation.createdBy.email }})
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let donation">
        <img
          src="assets\circlereen.svg.png"
          (click)="onRejectApprove(true, donation._id)"
          style="height: 25px; width: 25px"
          alt=""
          srcset=""
        />
        <span>|</span>
        <img
          src="assets\Flat_cross_icon.svg.png"
          (click)="onRejectApprove(false, donation._id)"
          style="height: 25px; width: 25px"
          alt=""
          srcset=""
        />
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-template>
