<div class="container">
  <h3 class="mb-2 text-center">Your Donor Details</h3>
  <div *ngFor="let donor of myDonationData" class="row">
    <div class="col-md-6 offset-md-3 mt-1">
      <table class="table table-bordered table-danger table-striped">
        <tbody>
          <tr>
            <th scope="row">Country</th>
            <td>{{ donor?.country || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">City</th>
            <td>{{ donor?.city || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">State</th>
            <td>{{ donor?.state || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Blood Group</th>
            <td>{{ donor?.bloodGroup || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Health Issue</th>
            <td>{{ donor?.healthIssue || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Last Donation Time</th>
            <td>{{ donor?.lastDonationTime || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Description of Health Condition</th>
            <td>{{ donor?.descriptionHealthCondition || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Medicine Consumption</th>
            <td>{{ donor?.medicineConsumption || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Birth Date</th>
            <td>{{ donor?.birthDate || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Gender</th>
            <td>{{ donor?.gender || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Occupation</th>
            <td>{{ donor?.occupation || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Center/Colony/Village</th>
            <td>{{ donor?.centerColonyVillage || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Weight</th>
            <td>{{ donor?.weight || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Pulse</th>
            <td>{{ donor?.pulse || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Hemoglobin (HB)</th>
            <td>{{ donor?.hb || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Blood Pressure (BP)</th>
            <td>{{ donor?.bp || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Temperature</th>
            <td>{{ donor?.temperature || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Last Six Months</th>
            <td>{{ donor?.lastSixMonth || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Suffering From</th>
            <td>{{ donor?.sufferFrom || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Taking</th>
            <td>{{ donor?.taking || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Surgery History</th>
            <td>{{ donor?.surgeryHistoryString || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Available Date & Time</th>
            <td>{{ donor?.AvailableDateNTime || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Verified</th>
            <td>{{ donor?.verified || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Created By</th>
            <td>{{ donor?.createdBy?.name || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Requested</th>
            <td>{{ donor?.requested || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Approved</th>
            <td>{{ donor?.approved || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Recipient : Name</th>
            <td>{{ donor?.recipienter?.name || "Not Given" }}</td>
          </tr>
          <tr>
            <th scope="row">Recipient : Email</th>
            <td>{{ donor?.recipienter?.email || "Not Given" }}</td>
          </tr>
          <tr
            *ngIf="
              bloodDonationServiceData.userData.userId === donor?.createdBy?._id
            "
          >
            <th scope="row">edit</th>
            <td>
              <img
                src="assets\edit-icon.png"
                alt="Edit Icon"
                (click)="onClickEdit(donor)"
                class="edit-icon"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
