<div class="bg-img mt-5">
  <div class="container mt-2">
    <h2 class="form-title">Fill Donation Details</h2>
    <form
      [formGroup]="donationForm"
      (ngSubmit)="onSubmit($event)"
      class="registration-form"
    >
      <div class="form-group">
        <label>Blood Group</label>
        <select
          name="bloodGroup"
          id="bloodGroup"
          class="form-control"
          formControlName="bloodGroup"
          required
        >
          <option value="">Select blood group</option>
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
        </select>

        <span
          [ngStyle]="{ color: 'red' }"
          *ngIf="bloodGroup && bloodGroup.invalid && bloodGroup.touched"
          >*Select a blood group</span
        >
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label>Gender:</label>
            <span
              [ngStyle]="{ color: 'red' }"
              *ngIf="gender && gender.invalid && gender.touched"
              >*Select Gender</span
            >
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                formControlName="gender"
                value="male"
                required
              />

              <label class="form-check-label">Male</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                formControlName="gender"
                value="female"
                required
              />
              <label class="form-check-label">Female</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                formControlName="gender"
                value="other"
                required
              />
              <label class="form-check-label">Other</label>
            </div>
          </div>

          <div class="col-md-6">
            <label>Have you donated previously? </label>
            <span
              [ngStyle]="{ color: 'red' }"
              *ngIf="healthIssue && healthIssue.invalid && healthIssue.touched"
              >*Choose One</span
            >
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                formControlName="healthIssue"
                value="yes"
              />
              <label class="form-check-label">Yes</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                formControlName="healthIssue"
                value="no"
              />
              <label class="form-check-label">No</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Last Donation Time</label>
        <input
          class="form-control"
          type="date"
          formControlName="lastDonationTime"
        />
      </div>

      <div class="form-group">
        <label>Description of Health Condition</label>
        <textarea
          class="form-control"
          rows="3"
          formControlName="descriptionHealthCondition"
        ></textarea>
      </div>

      <div class="form-group">
        <label>Medicine Consumption</label>
        <input
          class="form-control"
          type="text"
          formControlName="medicineConsumption"
        />
      </div>

      <div class="form-group">
        <label>Birth Date</label>
        <input
          class="form-control"
          type="date"
          formControlName="birthDate"
          required
        />
        <span
          [ngStyle]="{ color: 'red' }"
          *ngIf="birthDate && birthDate.invalid && birthDate.touched"
          >*Select your DOB</span
        >
      </div>

      <div class="form-group">
        <label>Occupation</label>
        <input
          class="form-control"
          type="text"
          formControlName="occupation"
          required
        />
        <span
          [ngStyle]="{ color: 'red' }"
          *ngIf="occupation && occupation.invalid && occupation.touched"
          >*Enter your occupation</span
        >
      </div>

      <div class="form-group">
        <label>Address / Colony / Village</label>
        <input
          class="form-control"
          type="text"
          formControlName="centerColonyVillage"
          required
        />

        <span
          [ngStyle]="{ color: 'red' }"
          *ngIf="
            centerColonyVillage &&
            centerColonyVillage.invalid &&
            centerColonyVillage.touched
          "
          >*Enter your Address/Colony/Village</span
        >
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label>Weight</label>
            <input
              class="form-control"
              type="number"
              formControlName="weight"
            />
          </div>
          <div class="col-md-6">
            <label>Pulse</label>
            <input class="form-control" type="number" formControlName="pulse" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label>Haemoglobin</label>
            <input class="form-control" type="number" formControlName="hb" />
          </div>
          <div class="col-md-6">
            <label>Blood Pressure</label>
            <input class="form-control" type="text" formControlName="bp" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Temperature</label>
        <input class="form-control" type="text" formControlName="temperature" />
      </div>

      <div class="form-group">
        <label>Had any of these in the past six months?</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            formControlName="tattooing"
          />
          <label class="form-check-label">Tattooing</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            formControlName="earPiercing"
          />
          <label class="form-check-label">Ear piercing</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            formControlName="dentalExtraction"
          />
          <label class="form-check-label">Dental extraction</label>
        </div>
      </div>

      <div class="form-group">
        <label class="checkbox-group-label"
          >Do you have or had any of these diseases?</label
        >
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="heartDisease"
          />
          <label class="form-check-label">Heart Disease</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="cancer"
          />
          <label class="form-check-label">Cancer/Malignant Disease</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="diabetes"
          />
          <label class="form-check-label">Diabetes</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="hepatitisBC"
          />
          <label class="form-check-label">Hepatitis B/C</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="std"
          />
          <label class="form-check-label">Sexually Transmitted Diseases</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="typhoid"
          />
          <label class="form-check-label">Typhoid (last one year)</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="lungDisease"
          />
          <label class="form-check-label">Lung Disease</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="tuberculosis"
          />
          <label class="form-check-label">Tuberculosis</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="allergicDisease"
          />
          <label class="form-check-label">Allergic Disease</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="kidneyDisease"
          />
          <label class="form-check-label">Kidney Disease</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="epilepsy"
          />
          <label class="form-check-label">Epilepsy (Charay rog)</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="malaria"
          />
          <label class="form-check-label">Malaria (six months)</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="bleedingTendency"
          />
          <label class="form-check-label">Abnormal Bleeding Tendency</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="jaundice"
          />
          <label class="form-check-label">Jaundice (last one year)</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="faintingSpells"
          />
          <label class="form-check-label">Fainting Spells</label>
        </div>
      </div>

      <div class="form-group">
        <label class="checkbox-group-label"
          >Have you taken any of these in the last 72 hours?</label
        >
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="antibiotics"
          />
          <label class="form-check-label">Antibiotics</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="steroids"
          />
          <label class="form-check-label">Steroids</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="aspirin"
          />
          <label class="form-check-label">Aspirin</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="vaccinations"
          />
          <label class="form-check-label">Vaccinations</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="alcohol"
          />
          <label class="form-check-label">Alcohol</label>
        </div>
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="dogBiteRabiesVaccine"
          />
          <label class="form-check-label"
            >Dog Bite Rabies Vaccine (1 year)</label
          >
        </div>
      </div>

      <div class="form-group">
        <label>Any surgery or blood transfusion in the last six months?</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            formControlName="surgeryHistoryMajor"
          />
          <label class="form-check-label">Major</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            formControlName="surgeryHistoryMinor"
          />
          <label class="form-check-label">Minor</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            formControlName="surgeryHistoryBloodTransfusion"
          />
          <label class="form-check-label">Blood Transfusion</label>
        </div>
      </div>

      <div class="form-group">
        <label>When can you donate blood?</label>
        <input
          class="form-control"
          type="date"
          formControlName="AvailableDate"
          required
        />

        <span
          [ngStyle]="{ color: 'red' }"
          *ngIf="
            AvailableDate && AvailableDate.invalid && AvailableDate.touched
          "
          >*Enter the availability date</span
        >
      </div>
      <div class="form-group">
        <label>Any Specific Time</label>
        <input
          class="form-control"
          type="text"
          formControlName="AvailableTime"
          required
        />

        <span
          [ngStyle]="{ color: 'red' }"
          *ngIf="
            AvailableTime && AvailableTime.invalid && AvailableTime.touched
          "
          >*Enter the availability time</span
        >
      </div>

      <div class="form-group submit-button-container">
        <button class="btn btn-danger" type="submit">Save Details</button>
      </div>
    </form>
  </div>
</div>
<!-- [disabled]="donationForm.invalid" -->
