.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .center-container {
    text-align: center;
  }

  .form-row {
    margin-bottom: 1em;
  }

  .button-container {
    margin-top: 1em;
  }
  
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
