<div
  *ngIf="bloodDonationServiceData.userData.userType !== 'ADMIN'; else elseBlock"
> 
  <app-navbar></app-navbar>
</div>
<ng-template #elseBlock>
  <app-dashboard-navbar></app-dashboard-navbar>
</ng-template>
<!-- <div
  *ngIf="bloodDonationServiceData.successalert"
  class="alert alert-success alert-info position-fixed top-0 end-0 w-40 rounded me-2 myclass"
  role="alert"
>
  {{ bloodDonationServiceData.message }}
</div>
<div
  *ngIf="bloodDonationServiceData.errralert"
  class="alert alert-warning rounded me-2 alert-info position-fixed top-0 end-0 w-40 rounded me-2 myclass"
  role="alert"
>
  {{ bloodDonationServiceData.message }}
</div> -->

<router-outlet></router-outlet>
