<div class="container main">
    <h1>Update User Information</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit($event)">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Enter name"
          formControlName="name"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          [value]="userData.email"
          placeholder="Enter email"
          disabled
        />
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input
          type="tel"
          [value]="userData.phone"
          class="form-control"
          id="phone"
          placeholder="Enter phone"
          disabled
        />
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input
          type="text"
          class="form-control"
          id="city"
          formControlName="city"
          placeholder="Enter city"
        />
      </div>
      <div class="form-group">
        <label for="state">State</label>
        <input
          type="text"
          formControlName="state"
          class="form-control"
          id="state"
          placeholder="Enter state"
        />
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input
          type="text"
          class="form-control"
          formControlName="country"
          id="country"
          placeholder="Enter country"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  