.fas.fa-bell {
  color: #000000;
  font-size: 18px;
}

.navbar-brand {
  font-family: "Lilita One", cursive;
  color: rgb(163, 37, 37);
}

ul {
  font-family: "Ysabeau SC", sans-serif;
}

nav {
  background-color: #ffeadd;
}

.navbar-nav {
  .nav-link {
    &:hover {
      color: #ff0000;
    }
  }
}
