.fas.fa-bell {
  color: #000000;
  font-size: 18px;
}
.navbar-brand {
  font-family: "Lilita One", cursive;
  color: rgb(163, 37, 37);
}
ul {
  font-family: "Ysabeau SC", sans-serif;
}
nav {
  background-color: #ffeadd;
}
/* Add the following CSS styles to change the link color on hover */

/* When hovered, change the link color */
.navbar-nav .nav-link:hover {
  color: #ff0000; /* Change to the desired color on hover */
}
